<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="carForm">
    
    <mat-form-field appearance="outline" class="full-width spacing">
      <mat-label>Modèle</mat-label>
      <input matInput formControlName="model">
      <mat-error *ngIf="carForm.get('model')?.invalid">Le modèle est requis</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width spacing">
      <mat-label>Vitesse (Km/h)</mat-label>
      <input type="number" matInput formControlName="kmh">
      <mat-error *ngIf="carForm.get('kmh')?.invalid">La vitesse est requise</mat-error>
    </mat-form-field>
    
    <mat-card class="mt-2">
      <mat-card-title>Caractéristiques</mat-card-title>
      <mat-card-content>
        <div formArrayName="characteristic">
          <div *ngFor="let characteristic of characteristic.controls; let i = index" [formGroupName]="i">
            <mat-form-field class="full-width spacing-characteristic">
              <mat-label>Clé</mat-label>
              <input matInput formControlName="key" required>
            </mat-form-field>

            <mat-form-field class="full-width spacing-characteristic">
              <mat-label>Valeur</mat-label>
              <input matInput formControlName="value" required>
            </mat-form-field>

            <button mat-icon-button color="warn" type="button" (click)="removeCharacteristicField(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
        <button mat-button color="primary" (click)="addCharacteristicField()">
          <mat-icon>add</mat-icon> Ajouter une caractéristique
        </button>
      </mat-card-content>
    </mat-card>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onClose()">Annuler</button>
  <button mat-button color="primary" [disabled]="carForm.invalid" (click)="onSave()">Enregistrer</button>
</mat-dialog-actions>
