<div class="container">
  <h1 class="text-center">Liste des Voitures</h1>
  <div class="car-button-container">
    <button mat-raised-button (click)="addCar()" class="car-button">
      Ajouter une voiture
    </button>
    <button mat-raised-button (click)="calculateTime()" class="car-button">
      Calculer le temps de trajet
    </button>

  </div>

  <table mat-table [dataSource]="cars" class="mat-elevation-z8" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
      <td mat-cell *matCellDef="let car">{{ car.id }}</td>
    </ng-container>

    <!-- Modèle Column -->
    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Modèle</th>
      <td mat-cell *matCellDef="let car">{{ car.model }}</td>
    </ng-container>

    <!-- Vitesse Column -->
    <ng-container matColumnDef="kmh">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Vitesse (Km/h)</th>
      <td mat-cell *matCellDef="let car">{{ car.kmh }}</td>
    </ng-container>

    <!-- Caractéristiques Column -->
    <ng-container matColumnDef="characteristic">
      <th mat-header-cell *matHeaderCellDef>Caractéristiques</th>
      <td mat-cell *matCellDef="let car">
        <mat-chip-set>
          <mat-chip *ngFor="let key of objectKeys(car.characteristic)" color="primary">
            {{ key }}: {{ car.characteristic[key] }}
          </mat-chip>
        </mat-chip-set>
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let car">
        <button mat-icon-button color="primary" (click)="editCar(car)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteCar(car.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>